__pycache__/
.env
.vscode
.idea
.pytest_cache/
.mypy_cache/
.DS_Store
.coverage
.pytest.xml

kubernetes-scraper/scraper-test
kubernetes-scraper/*.sh
kubernetes-scraper/*.txt
kubernetes-scraper/manifests/test-pod.yaml

# Python virtual enviroment
venv/
*/venv/
**/venv/
*/venv_*/
kubernetes-scraper/venv
**/.ruff_cache
