__pycache__/
.env
.vscode
.idea
.pytest_cache/
.mypy_cache/
.DS_Store
.coverage
.pytest.xml

kubernetes-scraper/scraper-test
kubernetes-scraper/*.sh
kubernetes-scraper/*.txt
kubernetes-scraper/manifests/test-pod.yaml

**/venv/
**/.ruff_cache